.App {
  text-align: center;
 padding: 10px 7rem;

}

body{
  background: linear-gradient(90deg,#4286f4,#373b44);
}


@media (min-width:770px) and (max-width:970px) {
  .App {
   
   padding: 0;
  
  }
}